#chi-siamo {
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
    color: #333;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.about-us-section:nth-child(even) {
    flex-direction: row-reverse;
}

.about-us-content {
    flex: 1;
    padding: 20px;
    max-width: 60%;
}

.about-us-content h2 {
    color: #ff0000;
    font-size: 2em;
    margin-bottom: 10px;
}

.about-us-content p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-us-images {
    flex: 1;
    display: flex;
    justify-content: center;
    max-width: 40%;
}

.about-us-images img {
    width: 80%;
    height: auto;
    margin: 10px;
}

@media (max-width: 768px) {
    #chi-siamo {
        padding: 15px;
    }

    .about-us-section {
        flex-direction: column;
    }

    .about-us-content {
        max-width: 100%;
        padding: 10px;
    }

    .about-us-images {
        max-width: 100%;
        margin-top: 20px;
    }

    .about-us-images img {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .about-us-content h2 {
        font-size: 1.5em;
    }

    .about-us-content p {
        font-size: 1em;
    }

    .about-us-images {
        max-width: 80%;
        margin-top: 10px;
    }

    .about-us-images img {
        width: 50%;
    }
}
